.homeContainer {
  text-align: center;
  margin: 20px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.mapList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  justify-content: center;
}
